/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,500;0,600;1,700&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --clr-white: #FFFFFF;
  --clr-primary: #4661E6;
  --clr-dark: #3A4374;
  --clr-gray: #F2F2F2;
  --clr-light: #647196;
  --clr-pink: #AD1FEA;
  --clr-lightpink : #C75AF6;
  --clr-darkblue: #373F68;
  --clr-lightblue: #62BCFA;
  --clr-orange: #F49F85;
  --clr-active_btn : #4661E6;
  --clr-danger : #D73737;
  --clr-lightdanger : #E98888;




  --fs-xl: 15px;
  --fs-xs: 13px;


  --fw-xl: 700;
  --fw-lg: 600;
  --fw-xs: 300;
}


body    {
  font-family: 'Jost', sans-serif;
  color: var(--clr-white);
  background: var(--clr-gray);
  line-height: 18.79px;
  font-size: var(--fs-xs);
  font-weight: 100;
  
}
a {
  text-decoration: none;
  font-weight: var(--fw-xl);
}

img {
  max-width: 100%;
  height: auto;
}
.btn {
  padding: 10.5px 17px;
  border-radius: 10px;
  border: none;
  color: var(--clr-white);
  background: var(--clr-pink);
  font-weight: var(--fw-xl);
}
.btn:hover {
  background: var(--clr-lightpink);
}
.cancel_btn {
  background: var(--clr-dark);
}
.cancel_btn:hover {
  background: var(--clr-darkblue);
}
.danger_btn {
  background: var(--clr-danger);
}
.danger_btn:hover {
  background: var(--clr-lightdanger);
}
.primary_btn {
  background: var(--clr-primary);
}
.primary_btn:hover {
  background: var(--clr-lightblue);
}

.back_btn {
  color: var(--clr-dark);
  font-weight: var(--fw-xl);
}
.back_btn:hover {
  text-decoration-color: var(--clr-dark);
  text-decoration: underline;
}
.back_btn i {
  color: var(--clr-primary);
  margin-right: 15px;
}
.back_btn-white {
  color: var(--clr-white);
}
.back_btn-white:hover {
  text-decoration-color: var(--clr-white);
  text-decoration: underline;
}
.back_btn-white i {
  color: var(--clr-white);
  margin-right: 15px;
}
.upvote_btn {
  background: var(--clr-white);
  border-radius: 10px;
  color: var(--clr-dark);
  padding: 8px 11px;
  width: 40px;
}
.upvote_btn i {
  font-size: 8px;
  margin-right: 8px;
}

@media screen and (min-width: 640px) {
  .btn {
    padding: 12.5px 24px;
  }
  .upvote_btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    margin-right: 30px;
  }
  .upvote_btn i {
    font-size: 8px;
    margin: auto;
    margin-bottom: 5px;
  }
}
  



/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
