/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --clr-white: #FFFFFF;
  --clr-primary: #4661E6;
  --clr-dark: #3A4374;
  --clr-gray: #F2F2F2;
  --clr-light: #647196;
  --clr-pink: #AD1FEA;
  --clr-lightpink : #C75AF6;
  --clr-darkblue: #373F68;
  --clr-lightblue: #62BCFA;
  --clr-orange: #F49F85;
  --clr-active--btn : #4661E6;
  --clr-danger : #D73737;
  --clr-lightdanger : #E98888;

  --fs-xl: 15px;
  --fs-xs: 13px;

  --fw-xl: 700;
  --fw-lg: 600;
  --fw-xs: 300;
}


body    {
  font-family: 'Jost', sans-serif;
  color: var(--clr-white);
  background: var(--clr-gray);
  line-height: 18.79px;
  font-size: var(--fs-xs);
  font-weight: 100;
  
}
p {
  font-size: 16px;
  font-weight: var(--fw-xs);
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--clr-light);
}
a {
  text-decoration: none;
  font-weight: var(--fw-xl);
  color: var(--clr-primary);
}
h3  {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.25px;
  text-align: left;
  color: var(--clr-dark);
}
img {
  max-width: 100%;
  height: auto;
}
.btn--tag {
  border-radius: 10px;
  border: none;
  background: var(--clr-gray);
  color: var(--clr-primary);
  padding: 5px 16px;
  margin: auto 8px 14px auto;
}
.btn--tag:hover {
  background: #CFD7FF;
}
.btn--tag:active {
  background: var(--clr-primary);
  color: var(--clr-white);
}
.card {
  padding: 24px;
  border-radius: 10px;
  background-color: var(--clr-white);
}
.card--roadmap-widget {
  padding-top: 20px;
  margin-top: 24px;
}
.card--narrow-top {
  padding-top: 44px;
}
.roadmap--card {
  padding-top: 16px;
}
.roadmap-widget__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
} 
.roadmap-widget__title {
  margin: 0;
}
.roadmap-widget__link:hover {
  text-decoration: underline;
}
.roadmap-widget__dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 16px;
    background: var(--clr-orange);
}
.roadmap-widget__dot--pink{
  background: var(--clr-pink);
}
.roadmap-widget__dot--lightblue {
  background: var(--clr-lightblue);
}
.roadmap-widget__status {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.roadmap-widget__text {
  margin: 0;
}
.roadmap-widget__number {
  margin: 0;
  margin-left: auto;
  color: var(--clr-dark);
  font-weight: 700;
}
@media screen and (min-width: 760px){
  .card--tablet {
    padding: 32px 28px;
  }
  .card--narrow-top {
    padding-top: 52px 42px;
  }
}
  

/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
