/* CUSTOM PROPS */
:root {
  --color-purple: #ad1fea;
  --color-blue: #4661e6;
  --color-light-blue: #62bcfa;
  --color-orange: #f49f85;
  --color-red: #d73737;
  --color-white: #fff;
  --color-lightpurple: #C75AF6;
  --color-side-logo-bg: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);


  --color-body-bg: #f7f8fd;
  --color-light-bg: #f2f4ff;
  --color-text: #647196;
  --color-text-dark: #3a4374;

  --font-family: "Jost", "Arial", sans-serif;
}


/* FONT-FACE */
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Medium.woff2") format("woff2"),
      url("../fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-SemiBold.woff2") format("woff2"),
      url("../fonts/Jost-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Regular.woff2") format("woff2"),
      url("../fonts/Jost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Bold.woff2") format("woff2"),
      url("../fonts/Jost-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 13px;
  line-height: normal;
  background-color: var(--color-body-bg);
  color: var(--color-text);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--clr-primary);
}

/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* PAGE */
.page__body {
  padding-top: 0;
}

.page__body--feedback-detail {
  padding-top: 24px;
}

.page__body--feedback-form {
  padding-top: 34px;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 10px 17px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-purple);
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.btn:hover {
  background-color: var(--color-lightpurple);
}

.btn--cancel {
  background-color: var(--color-text-dark);
}

.btn--cancel:hover {
  background-color: #656ea3;
}

.btn--red {
  background-color: var(--color-red);
}

.btn--red:hover {
  background-color: #e98888;
}

.btn--primary {
  background-color: var(--color-blue);
}

.btn--primary:hover {
  background-color: var(--color-light-blue);
}


/* UPVOTE-BTN */
.upvote-btn {
  border: none;
  border-radius: 10px;
  font-weight: 700;
  background-color: var(--color-light-bg);
  color: var(--color-text-dark);
  padding: 0;
  cursor: pointer;
}

.upvote-btn:hover {
  background-color: #cfd7ff;
}

.upvote-btn__inner {
  display: flex;
  align-items: center;
  padding: 6px 14px;
}

.upvote-btn--active {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.upvote-btn__icon {
  margin-right: 10px;
  color: var(--color-blue);
}

.upvote-btn--active .upvote-btn__icon {
  color: var(--color-white);
}

/* BACK-BTN */
.back-btn {
  color: var(--color-text-dark);
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
}

.back-btn--white {
  color: #fff;
}

.back-btn__inner {
  display: flex;
  align-items: center;
}

.back-btn__icon {
  margin-right: 10px;
}

.back-btn:hover .back-btn__text {
  text-decoration: underline;
}


/* CARD */
.card {
  padding: 24px;
  border-radius: 10px;
  background-color: #fff;
}

.card--narrow-top {
  padding-top: 20px;
}

.card--feedback-form {
  padding-top: 44px;
}

/* EMPTYCARD */
.empty-feedback {
  padding: 76px 24px;
  text-align: center;
}

.empty-feedback__icon {
  margin-bottom: 40px;
}

.empty-feedback__title {
  margin-top: 0;
  margin-bottom: 14px;
  color: var(--color-text-dark);
}

.empty-feedback__text {
  margin-top: 0;
  margin-bottom: 24px;
}





/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* SIDE-HEADER */

.side-header__logo-wrapper {
  background: var(--color-side-logo-bg);
  display: flex;
  align-items: center;
  padding: 15px 24px;
  margin-right: -24px;
  margin-left: -24px;
}

.side-header__logo-inner {
  color: var(--color-white);
  flex-grow: 1;
  margin-right: 20px;
}

.side-header__logo {
  margin: 0;
  font-size: 15px;
}

.side-header__logo-info {
  margin: 0;
}

.side-header__sidebar {
  width: 17px;
  height: 20px;
}

.side-header__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-right: -24px;
  margin-left: -24px;
  visibility: hidden;
  background-color: #333;
  opacity: 0.5;
}

.site-header__sidebar-open .side-header__overlay {
  visibility: visible;
}

.side-header__taglist-roadmap-wrapper {
  background-color: var(--color-light-bg);
  position: fixed;
  right: 0;
  padding: 24px;
  height: 100vh;
  display: none;
}

.site-header__sidebar-open .side-header__taglist-roadmap-wrapper {
  display: block;
}


/* ROADMAP-WIDGET */
.roadmap-widget {
  width: 230px;
  height: 178px;
  margin-bottom: 24px;
}

.roadmap-widget__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.roadmap-widget__title {
  color: var(--color-text-dark);
  flex-grow: 1;
  margin: 0;
  margin-right: 24px;
}

.roadmap-widget__link {
  color: var(--color-blue);
}

.roadmap-widget__list {
  margin: 0;
}

.roadmap-widget__item{
  display: flex;
  align-items: center;
}

.roadmap-widget__item:not(:last-child) {
  margin-bottom: 8px;
}

.roadmap-widget__item::before {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  margin-right: 16px;
  border-radius: 50%;
  content: "";
}

.roadmap-widget__item--planned::before {
  background-color: var(--color-orange);
}

.roadmap-widget__item--in-progress::before {
  background-color: var(--color-purple);
}

.roadmap-widget__item--live::before {
  background-color: var(--color-light-blue);
}

.roadmap-widget__number {
  font-weight: 700;
  text-align: right;
}

/* TAG */
.tag {
  display: inline-block;
  padding: 5px 16px;
  border-radius: 10px;
  font-weight: 600;
  background-color: var(--color-light-bg);
  color: var(--color-blue);
}

.tag:hover {
  background-color: #cfd7ff;
}

.tag--active {
  background-color: var(--color-blue);
  color: var(--color-white);
}


/* TAGLIST */
.taglist {
  width: 230px;
  height: 178px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #fff;
}

.taglist__item {
  margin-right: 8px;
  margin-bottom: 14px;
}


/* FEEDBACKS */
.feedbacks__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  margin-left: -24px;
  margin-right: -24px;
  background-color: #373f68;
  color: #f2f4fe;
}

.feedbacks__suggestions-count-wrapper {
  display: none;
}

.feedbacks__sorting-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: 16px;
  white-space: nowrap;
}

.feedbacks__sorting-label {
  margin-right: 4px;
}

.feedbacks__sorting-select {
  border: 0;
  background-color: transparent;
}

.feedbacks__sorting-select:not(:focus) {
  color: #f2f4fe;
}


.feedbacks__inner {
  padding-top: 32px;
  padding-bottom: 56px;
}

.feedbacks__empty-card {
  display: none;
}

.feedbacks--empty .feedbacks__empty-card {
  display: block;
}

.feedbacks__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.feedbacks--empty .feedbacks__list {
  display: none;
}

.feedbacks__item:not(:last-child) {
  margin-bottom: 16px;
}

.feedback-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.feedback-card__content {
  width: 100%;
  margin-bottom: 16px;
}

.feedback-card__comment {
  display: flex;
  align-items: center;
}

.feedback-card__title {
  margin: 0;
  margin-bottom: 4px;
}

.feedback-card__link {
  color: var(--color-text-dark);
  font-weight: 600;
  text-decoration: none;
}

.feedback-card__link:hover {
  color: var(--color-blue);
}

.feedback-card__text {
  margin: 0;
  margin-bottom: 12px;
}

.feedback-card__upvote-btn-wrapper {
  flex-grow: 1;
}

.feedback-card__category-btn {
  padding: 6px 17px;
  background-color: var(--color-light-bg);
  text-decoration: none;
  color: var(--color-blue);
  font-weight: 600;
}

.feedback-card__category-btn:hover {
  background-color: #cfd7ff;
}

.feedback-card__category--active {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.feedback-card__comment-icon {
  margin-right: 4px;
  width: 18px;
  height: 16px;
}

.feedback-card__comment-value {
  font-weight: 600;
  color: var(--color-text-dark);
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

/* TODO Update media size */
@media only screen and (min-width: 768px) {
  .page__body,
  .page__body--feedback-detail,
  .page__body--feedback-form,
  .page__body--roadmap {
    padding-top: 56px;
  }

  .btn {
    padding: 12px 24px;
  }

  .upvote-btn__inner {
    flex-direction: column;
  }

  .upvote-btn__icon {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .site-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .side-header__logo-wrapper {
    width: 230px;
    height: 180px;
    align-items: end;
    margin: 0;
    border-radius: 10px;
  }

  .side-header__logo-inner {
    margin-right: 20px;
    font-size: 15px;
  }

  .side-header__logo {
    font-size: 20px;
  }  

  .side-header__sidebar {
    display: none;
  }

  .side-header__taglist-roadmap-wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
      height: auto;
      padding: 0;
      background-color: transparent;
  }

  .roadmap-widget {
    margin-bottom: 0;
    margin-right: 10px;
  }
  
  .feedback-card {
    padding: 28px 32px;
    flex-wrap: nowrap;
  }

  .feedback-card__content {
    margin-bottom: 0;
    flex-grow: 1;
    margin-right: 40px;
  }

  .feedback-card__upvote-btn-wrapper {
    order: -1;
    align-self: start;
    margin-right: 40px;
  }

  .empty-feedback {
    padding: 110px 140px;
  }

  .feedbacks__actions {
    justify-content: flex-start;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .feedbacks__suggestions-count-wrapper {
    display: flex;
    align-items: center;
    margin-right: 38px;
  }

  .feedbacks__suggestions-icon {
    flex-shrink: 0;
    width: 23px;
    height: 24px;
    margin-right: 16px;
  }

  .feedbacks__suggestions-count {
    font-size: 18px;
    line-height: normal;
    font-weight: bold;
  }

  .feedbacks__sorting-wrapper {
    margin-right: auto;
  }
}

@media only screen and (min-width: 992px) {
  .page__body {
    padding-top: 94px;
  }

  .page__body--feedback-detail {
    padding-top: 80px;
  }

  .page__body--feedback-form {
    padding-top: 92px;
  }

  .page__body--roadmap {
    padding-top: 78px;
  }

  .site-header-feedbacks-wrapper {
    display: flex;
  }

  .site-header {
    flex-direction: column;
    justify-content: start;
    width: 255px;
    margin-right: 30px;
  }

  .side-header__logo-wrapper{
    margin-bottom: 24px;
  }

  .side-header__taglist-roadmap-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }

  .roadmap-widget {
    margin-bottom: 24px;
  }
  .site-header-feedbacks-wrapper__feedbacks {
    width: 825px;
  }

  .empty-feedback {
    padding: 110px 205px;
  }
}
